@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
   --Dark: rgb(25, 46, 47);
   --Dark2: rgb(58, 89, 92);
   --Dark3: rgb(77, 116, 120);
   --Dark4: rgb(75,136,136);
   --Light: rgb(123, 169, 169);
   --Light2: rgb(188, 217, 215);
   font-weight: 700;
   padding: 0px;
   margin: 0px;

}

html {
   overflow-y: scroll;
   margin: 0;
   padding: 0;
}

.montserrat {
   font-family: 'Montserrat', sans-serif !important;
}

.roboto {
   font-family: 'Roboto', sans-serif;
}




/* Dashboard */
.hidden-label {
   visibility: hidden;
   display: block;
}

td {
   text-align: left;
   vertical-align: middle;
}

/* Home Navigation */

/* collapse */

.navbar-brand {
   padding-left: 80px;
}

.navbar-nav {
   padding-right: 80px;
}

.navbar-collapse.collapsing {
   height: 91vh;
   background: rgb(23, 47, 49);
   transition: height 800ms ease-in-out;
   padding-left: 20px;
   font-weight: 300;
   font-size: 2rem;
   line-height: 3rem;
   width: 50%;
}


.collapse.show {

   height: 91vh;
   background: rgb(23, 47, 49);
   padding-left: 20px;
   margin: 0px;
   font-weight: 300;
   font-size: 2rem;
   line-height: 3rem;
   width: 50%;

}

.navbar-brand {
   color: white;
   transition: transform 2ms ease-in-out;
}


/* Video Section */
.color-nav {
   background-color: var(--Dark);
}

.photo-video {
   display: none;
}

.overlay-photo {
   display: none;
}

.video-container {
   position: relative;
   top: 0;
   bottom: 0;
   width: 100%;
   height: 500px;
   overflow: hidden;
   margin-bottom: 5rem;

}

.responsive-video {
   /* Make video to at least 100% wide and tall */
   min-width: 100%;
   min-height: 100%;

   /* Setting width & height to auto prevents the browser from stretching or squishing the video */
   width: auto;
   height: auto;

   /* Center the video */
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   filter: grayscale(1);

}

.videoheader {
   position: absolute;
   bottom: 80px;
   left: 80px;
   color: white;
}

.biodiversity {
   color: var(--Light)
}

.overlay {
   filter: contrast(2);
   filter: saturate(2);
   background: radial-gradient(circle, rgba(238, 234, 174, 0.1) 0%, rgba(30, 52, 20, 0) 54%);
   background-color: rgba(25, 46, 47, 0.7);

   position: absolute;
   left: 0;
   right: 0;
   width: 100%;
   height: 100%;
   margin: 0;
   padding: 100px;
   line-height: 1.5;
   text-align: left;
}

.overlay>h1 {
   color: white;
}

.overlay>p {
   color: white;
}

@media only screen and (max-width:425px) {
   .responsive-video {
      display: none;
   }

   .video-container {
      display: none;
   }


   .photo-video {
      display: block;
      position: absolute;
      width: 100%;
   }

   .overlay {
      display: none;
   }

   .overlay-photo {
      display: block;
      position: absolute;
      left: 0;
      right: 0;
      width: 100%;
      height: 100%;
      margin: 0;
      padding-top: 80px;
      line-height: 1.5;
      text-align: center;
      color: white;
   }

   .photo-container {
      position: relative;
      top: 0;
      bottom: 0;
      width: 100%;
      height: 250px;
      overflow: hidden;
      margin-bottom: 5rem;

   }
}


.container-fluid {
   padding-left: 2rem;
   padding-right: 2rem;
   margin-top: 5rem;
}


/* Research section */
.research-title {
   font-size: 1.5rem;
   font-weight: 600;
   margin-bottom: 4px;
}

.research-text {
   font-size: 0.9rem;
   font-weight: 300;
   line-height: 1.6;
}

.jpg-research {
   vertical-align: middle;
   display: inline-flex;
   align-self: center;
   margin-bottom: 1em;
   max-width: 100%;

   filter: grayscale(1);
}

.research-photo-container {
   position: relative;
}

.research-photo-container-overlay {
   position: absolute;
}

.research-photo-container .research-photo-container-overlay {
   position: absolute;
   bottom: 0px;
   width: 100%;
   height: 100%;
   background: linear-gradient(0deg, rgba(25, 46, 47, 0.8) 0%, rgba(123, 169, 169, 0.5) 100%);
   /* background: rgba(58,89,92, 0.8); */
   filter: contrast(2);
   filter: saturate(2);
}


/* members section */
.lab-title {
   overflow: hidden;
   text-align: left;
   font-weight: 600;
}

.professorname {
   font-weight: 600;
   margin-bottom: 0px;
}

.professorfunction {
   font-weight: 300;
   margin-bottom: 0px;
}

.membername {
   font-weight: 600;
   margin-bottom: 0px;
}

.memberfunction {
   font-weight: 300;
   margin-bottom: 0px;
}

.lab-title:after {
   background-color: var(--Dark3);
   content: "";
   display: inline-block;
   height: 3px;
   position: relative;
   vertical-align: baseline;
   width: 100%;
   left: 0.5em;
   margin-right: -50%;
}

.member-photo-overlay {
   position: absolute;
}

.member-text-overlay {
   position: absolute;
   font-size: 0.9rem;
   left: 10px;
   bottom: 25px;
   text-align: left;
   color: white;

}

.memberpicturepadding{
   padding-left: 0px;
   padding-right: 0px;
}

.buttonpadding {
   padding-left: 0px;
   padding-right: 0px;
}

.members .member-photo-overlay {
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   display: none;
   color: white;
   background: linear-gradient(0deg, rgba(25, 46, 47, 0.8) 0%, rgba(123, 169, 169, 0.5) 100%);
   /* background: rgba(58,89,92, 0.8); */
   filter: contrast(2);
   filter: saturate(2);
   display: block;
   transition: transform .2s;
}

.members {
   position: relative;
   max-width: 100%;
   overflow: hidden;
   border-radius: 5%;
   margin: 10px;
}

.member-photo {
   width: 12rem;
   height: 12rem;
   object-fit: cover;
   filter: grayscale(1);
   transition: transform .2s;
   /* Animation */
}

.photo-link:hover .member-photo {
   transform: scale(1.1);
   filter: grayscale(0);
}

.photo-link:hover .member-photo-overlay {
   background: none
}

/* For detail page */
.member-details {
   width: 40vw;
   overflow: hidden;
   border-radius: 10%;
   margin: auto;
   object-fit: cover;
}

.project-container {
   width: 105%;
   overflow: hidden;
}

.project-details {
   width: 100%;
   height: 20vw;
   overflow: hidden;
   border-radius: 25px;
   margin: auto;
   object-fit: cover;
   filter: grayscale(1);
}

.project-photo-container-overlay {
   position: absolute;
   bottom: 0px;
   width: 100%;
   height: 100%;
   border-radius: 25px;
   background: linear-gradient(0deg, rgba(25, 46, 47, 0.8) 0%, rgba(123, 169, 169, 0.5) 100%);
   /* background: rgba(58,89,92, 0.8); */
   filter: contrast(2);
   filter: saturate(2);
}

.project-details-text {
   background-color: #edeef0;
   border-radius: 25px 0px 0px 25px;
}

.project-title {
   font-size: 1.5rem;
   font-weight: 600;
   margin-bottom: 4px;
}

.project-text {
   font-size: 0.9rem;
   font-weight: 300;
   line-height: 1.6;
}

.project-labmember {
   color: var(--Light);
}

.project-labmember:hover{
   color: var(--Dark3);
}

/* Alumni */
.badge-icon {
   background-color: var(--Light2) !important;
   color: var(--Dark4);
   width: 100%;
}
.badge-icon:hover {
   background-color: var(--Dark4) !important;
   color: var(--Light2);
   width: 100%;
}

/* Project section */
.project-bg {
   background-color: grey;
   border-radius: 5%;
   height: 80%;
   justify-content: center;
}

.project-photo {
   width: 100%;
   object-fit: cover;
   filter: grayscale(1);
   filter: grayscale(1);
   transition: transform .2s;
}

.project-summary-container {
   opacity: 0;
   width: 100%;

   padding: 15px;
   font-size: 0.9rem;
   left: 0;
   bottom: -20px;
   color: white;
   z-index: 100;
   position: absolute;
   transition: all 0.5s;
   background: var(--Dark);
}

.project-link:hover .project-summary-container {
   opacity: 1;
   bottom: 0;
}

.project-link:hover .project-photo {
   transform: scale(1.1);
   filter: grayscale(0);
}

.project-link:hover .project-photo-overlay {
   background: none
}

.projects {
   position: relative;
   max-width: 100%;
   overflow: hidden;
   border-radius: 5%;
   margin: 10px;
}

.project-photo-overlay {
   position: absolute;
}

.project-text-overlay {
   position: absolute;
   font-size: 0.9rem;
   left: 10px;
   bottom: 25px;
   color: white;

}

.projects .project-photo-overlay {
   position: absolute;
   width: 100%;
   height: 100%;
   background: linear-gradient(0deg, rgba(25, 46, 47, 0.8) 0%, rgba(123, 169, 169, 0.5) 100%);
   /* background: rgba(58,89,92, 0.8); */
   filter: contrast(2);
   filter: saturate(2);
   transition: transform .2s;
}

.projecttitle {
   font-weight: 600;
   font-size: 1.5rem;
}

/* Publication section */

.journalcover {

   max-height: 200px;
   object-fit: cover;
   display: block;
}

.journallink {
   color: #000;
   text-decoration: none;
   position: relative;
   /* position: relative is necessary to fix the bug of the stretched-link */
}

.authorslist {
   color: rgba(0, 0, 0, .54);
   font-size: 14px;
   letter-spacing: .03em;
}

/* .publicationtitle {
   color: #151515;
   font-weight: 700;
} */

.journaltitle {
   color: #000
}

/* .allpublications {
   padding: 0.75rem 1.25rem;
   background-color: #f6fbfe;
   border-radius: 0.25rem;
   margin-bottom: 1rem;
   border: 1px solid var(--Dark3);
   display: block;
   color: var(--Dark);
   font-size: 21px;
} */

.publicationyear {
   padding-top: 1rem;
   padding-bottom: 1rem;
}

.authorsforpublicationlist {
   display: inline
}

a {
   text-decoration: none;
   color: inherit;
}



/* 
.project-card {
   width: 18rem;
   height: 28rem;
}

.project-card:hover {
   box-shadow: 0px 30px 18px -8px rgba(0, 0, 0, 0.1);
   transform: scale(1.10, 1.10);
}


.card-img-top:hover {
   height: 100%;
   opacity: 0.3;
}


.card-body:hover {
   background-color: transparent;
   position: relative;
   opacity: 1;
} */


.icons:hover {
   size: 3rem !important
}


.publicationhover:hover {
   box-shadow: 0 .5rem 1rem #00000026;
   padding: 1rem 1rem 1rem 1rem;
}

.bi-info-circle-fill {
   color: var(--Dark3) !important
}

/* test Research*/
.research-carousel {
   margin: 1rem;
   width: calc(100%/2);
}

.carousel {
   justify-content: center;
}

/* 
.cards-wrapper{
   background-color: var(--Light2);
} */
.img-wrapper {

   margin: 0 auto;
}

.img-wrapper>img {
   max-width: 100%;
   max-height: 100%;
}



figcaption {
   position: absolute;
   right: 20px;
   bottom: 20px;
   color: white;
   text-decoration: none;
}

.publicationtitle {
   color: white;

}

.pub-title {
   background-color: var(--Dark);
   border-radius: 0px 25px 25px 0px;
   padding: 15px;

}

/* join Section */

.join-bg {
   background-color: #edeef0;
   margin: 15px 15px 15px 0px;
   padding: 25px;
   border-radius: 25px;
}

.join-link {
   color: var(--Light) !important;
   font-weight:500;
}

.join-link:hover {
   color: var(--Dark3) !important;
}



/* Footer */
.footer-bg {
   background-color: var(--Dark);
   padding: 15px;
   color: var(--Light2);
}